.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
  
  .cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #081014;
    width: 60%;
    height: auto;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 55px;
  }
  
  .itemsPurch {
    border-radius: 25px;
    width: 300px;
    margin: 5px;
    display: flex;
    justify-content: center;
  }
  
  .itemsPurch ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  
  .itemsPurch li {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    width: 350px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid black;
  }
  

  .itemsPurch li img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .itemsPurch li button {
    margin-left: 10px;
  }
  
  .heading {
    display: flex;
    justify-content: center;
  }
  
  .Error {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    margin-top: 5px;
    color: red;
  }

  .Del {
    background-color: transparent;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none; 
    cursor: pointer; 
  }
  
  .Del img {
    width: 24px;
    height: 24px;
  }
  